##CLEAN_USERNAME##:
    image: '##IMAGE##'
    labels:
      app: myfreebae:client
      io.rancher.container.hostname_override: container_name
      io.rancher.container.pull_image: always
    environment:
      CB_USERNAME: "##MODEL_NAME##"
      SERVICE_IP: "watcher1.backend.chaturbae.tv"
      SYSLOG_TAG: '{docker: "cmyfreebae-client"}'
      LOGSTASH_FIELDS: "platform=docker,job=chaturbae-client,mfc_username=##MODEL_NAME##"
      DECODE_JSON_LOGS: "true"
      DEBUG: "myfreebae:*"
